
.wrap{
    min-height: 1000px;
    background-color: #adb5bd;
    background-image: url("../img/weather-app.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;

}

.jumbotron-color{
    background-color: #87CEE8;
    color: #ffffff;
}

.button-green {
    background-color: #4C7F04 ;
    border-color: #4C7F04;
}

.button-green:hover {
    background-color: #7EC40E;
    border-color: #7EC40E;
}

.weather-info{
    color: #f2f2f2;
    font-size: 25px;
}
.link-main:link{
    color: #ffffff;
    text-decoration: none;
}

.link-imgw:link{
    color: #ffffff;
    text-decoration: none;
}

.link-imgw:hover{
    color: #f2f2f2;
}

.poland-main-data{
    color: #f2f2f2;
    font-size: 18px;
}