
.wrap{
    min-height: 1000px;
    background-color: #adb5bd;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 30px;

}

.background-opacity{
    background-color: rgba(20, 48, 39, 0.9);
    color: snow;
}